# http://editorconfig.org
root = true

[*]
indent_style             = space
indent_size              = 2
charset                  = utf-8
end_of_line              = lf
trim_trailing_whitespace = true
insert_final_newline     = true

[.github/**]
ignore = true

[.rc/**]
ignore = true

[.git/**]
ignore = true

[.vscode/**]
ignore = true

[node_modules/**]
ignore = true
